@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: black;
}
.main{
    background-image: url(assets/images/bg.jpg);
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    height: 644px;
 
}
.main .box {
    height: 644px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    opacity: 0.69;
    background-color: black;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0px;
max-width: 60vw;
height: 100px;
}
nav img{
    position: relative;
    z-index: 10;
    width: 130px;
    color: red;
}
nav button{
    position: relative;
    z-index: 10;
}

.hero{
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0px 30px;
    height: calc(100% - 100px);
    text-align: center;
}
.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}